//Colors

$off-black : #292a2b;
$off-white : #93a3e2;
$body-background : #38393d;
$purple : #7f4cca;
$blue : #3c4251; 
$light-blue: #464b5e;

//spacing and sizing

$m-size : 1.6rem;
$l-size : 2.8rem;
$xl-size : 4.4rem;
$xxl-size : 4.8rem;
$desktop-breakpoint : 45rem;